# dependencies
/node_modules

# next.js
/.next/

# million
.million/

# tmp
tmp/

# site assets in public folder (yes its still publicly accessible)
ads.txt
BingSiteAuth.xml

# private testing stuff :p
h.ts
*.sqlite3
