# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# million
.million/

# tmp
tmp/

# site assets in public folder (yes its still publicly accessible)
ads.txt
BingSiteAuth.xml

# sqlite stuff :p
*.sqlite3

# private testing stuff :p
h.ts
