# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# million
.million/

# tmp
tmp/

# sqlite stuff :p
*.db

# private testing stuff :p
h.ts
